.my_yellow {
    color: #ffd511;
}

.my_yellow_background {
    background-color: #ffd511;
}

.my_red{
    color: red;
}

.my_blue {
    color: dodgerblue;
}

.my_blue_hover:hover {
    color: darkblue;
}

.cursor_pointer{
    cursor: pointer;
}
input[type=email]::placeholder{
    font-size: 10px;
}
.img_100 {
    width: 100%;
    height: auto;
}

.anchor_no_style {
    text-decoration: none !important;
    color: black !important;
}